@model PRACTICASEJERCICIOS.APPMVCCodeFirst.Models.Alumno

@{
    ViewData["Title"] = "Detalle";
}

<h1 style="font-family:Cambria"><b>Ver detalle de un registro de alumno!!</b></h1>

<div>
    <h4 class="text-secondary">Alumno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2 fw-bold text-dark">
            @Html.DisplayNameFor(model => model.YearEstudio)
        </dt>
        <dd class="col-sm-4 border-bottom pb-2">
            @Html.DisplayFor(model => model.YearEstudio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Regresar</a>
</div>
